<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
	</style>
</head>
<body>
	<a href="/about">go back home</a>
  <!-- <p><a href="{{url_for('about')}}"></p> -->


{% for product in products %}
<div class="card">
  <img src="{{url_for('static',filename='{{product.picture_link}}')}}" alt="STAR" style="width:70%">
  <h1>{{product.name}}</h1>
  <p class="price">{{product.price}}</p>
  <p>{{product.description}}</p>
  <p><a href="{{url_for('add_to_cart',pid=product.id)}}"><button>Add to Cart</button></a></p>
</div>
{% endfor %}

</body>
</html>

